

:root {
  --purple:#3315D1;
  --black:#0B0A0A;
  --white: #ffffff;
  --2xs:8px;
  --xs: 14px;
  --sm: 30px;
  --med: 60px;
  --lrg: 90px;
  --xl: 150px;
}

/* Lenis */
html.lenis, html.lenis body {
  height: auto;
}



.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.noControl mux-player {
	/* Hide all controls at once */
	--controls: none;
  }



  
.bgMux mux-player{
  --controls: none;
  --media-object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0);
}

/* font embeds */
@font-face {
	font-family: 'sans';
	src: url('/fonts/san-med.woff');
	font-weight: 500;
	font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Courier New', Courier, monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, .navBut{
    font-family: "sans", Arial, Helvetica, sans-serif;

  font-size:3.375rem;
}

.richText h1{
 line-height: 1.1em;
}



h2{
    font-family: "sans", Arial, Helvetica, sans-serif;

  font-size:2.625rem;
  line-height: 1em;
}


h3{
    font-family: "sans", Arial, Helvetica, sans-serif;

  font-size:2rem;
}



.titleText{
    text-box-trim: both;
  text-box-edge: cap;
}

.infoLogo{
  margin-left: -38px;
}

.richText p, p, label{
  font-size:1.5rem;
  font-weight:700;
  line-height: 120%;
}

.Label{
  color:var(--white);
}

.richText p{
    margin-bottom:var(--xs);
}
.richText strong, strong,input{
    font-family: "sans", Arial, Helvetica, sans-serif;
    font-size:1.35rem;
    font-weight: 900;
    text-transform: uppercase;

  }

  p.footnote, .footnote{
    font-size:1rem;
    font-weight: 700;
    line-height: 130%;
  }

  .singleShow:nth-child(odd) .date,   .singleShow:nth-child(odd) .cta, .singleShow:nth-child(even) .title{
    background-color: var(--white);
    color:var(--purple);
  }

    .singleShow:nth-child(even) .date, .singleShow:nth-child(even) .cta, .singleShow:nth-child(odd) .title{
    background-color: var(--purple);
    color:var(--white)
  }

   .singleShow:nth-child(odd) svg{
    fill:var(--purple)
   }
     .singleShow:nth-child(even) svg{
    fill:var(--white)
   }

   .bgActive{
    background-color: var(--purple);
    color: var(--black)
   }

   .bgActive.invertBG{
      background-color: var(--black);
    color: var(--purple)
   }

   .singleIdea:hover{
    background-color: var(--purple);
    color:var(--black);
   }

   .singleIdea h1{
    line-height: 1.2em;
   }

   .navBut.active{
    color:transparent;
    -webkit-text-stroke-color: var(--black);
    -webkit-text-stroke-width: 2px ;

   }

   .bgActive.invertBG .navBut.active{
    -webkit-text-stroke-color: var(--purple);
   }

   .recordingSingle .cta, .ideaSingle .cta{
    display:none;
   }

   .recordingSingle:hover .cta, .ideaSingle:hover .cta{
    display:block;
   }
  


   @media (max-width:1200px){
    h1{
      font-size: 2.5rem;
    }
    .navBut{
      font-size:2.5rem;
    }


    .navBut.active{
      -webkit-text-stroke-width: 1px ;
  
     }
    }
  

    @media (max-width:850px){
      .navBut{
        font-size:1.25rem;
      }

   

      .navBut.active{
        -webkit-text-stroke-width: .5px ;
    
       }
       h1{
        font-size:2rem
      }

      h1.date{
        font-size:1.5rem;
      }

      h3{
        font-size:1.125rem;
        line-height: 1.1em;
      }

      .title h3, .cta h3{
        font-size:2.25rem;
      }

      .singleShow:nth-child(odd) svg,.singleShow:nth-child(even) svg{
      fill:#ffffff;
      }

      .singleShow:nth-child(odd) .date, .singleShow:nth-child(odd) .title,.singleShow:nth-child(even) .date, .singleShow:nth-child(even) .title{
        background-color: var(--white);
        color:var(--purple);
      }

      
      .singleShow:nth-child(odd) .cta,.singleShow:nth-child(even) .cta{
        background-color: var(--purple);
        color:var(--white);
      }
    
  
    
    }


      @media (max-width:600px){
       .richText p,p{
        font-size:1.20rem
       }

       h2{
        font-size:2rem;
       }

       .recordingSingle .cta, .ideaSingle .cta{
        display:block;
       }

       .richText strong,strong{
        font-family: "sans", Arial, Helvetica, sans-serif;
        font-size:.875rem;
        font-weight: 900;
        text-transform: uppercase;
    
      }
    
        }
    